{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1>Editer l'article'</h1>

        {{ form_start(form) }}
            {{ form_rest(form) }}
        <button class="btn btn-success"> Editer </button>
        {{ form_end(form) }}
    </div>
{%  endblock %}

{% block title %}
{% endblock %}