{% extends 'base.html.twig' %}

{% block title %} Détails {% endblock %}

{% block body %}

    <div class="container mt-4">
        <div class="raw">
            {# Photo du produit #}
        </div>
        <div class="col-md-8">

        </div>
        <div class="col-md-4">
            {{ dump(vetement) }}
            <h1> {{ vetement.title }} </h1> {# en twigg #}
            <h2> "Description du produit" </h2>   {# en twigg #}
            <h2> "Sa couleur" </h2>   {# en twigg #}
            <h2> "Son style" </h2>    {# en twigg #}
            <h5> "Son prix" € </h5>     {# en twigg #}
        </div>
    </div>





{% endblock %}