{% extends 'base.html.twig' %}


{% block title %}Accessoires{% endblock %} {# Page Les Accessoires #}

{% block body %}
    <div class="jumbotron text-center">
        <div class="container">
            <h1>Les accessoires</h1>
        </div>
    </div>

    {# carte de l'objet accessoire et ses propriétés #}
{% endblock %}
